# Conjunto de dados da Bíblia Sagrada

## Luís Guilherme Ribeiro

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Importação dos dados
df_path = "./biblia_json_completa.csv"
df = pd.read_csv(df_path)
df.head()

,cod,livro,capitulo,versiculo,texto,tempo,periodo,localizacao,testamento
0,1,Genesis,1,1,No princípio criou Deus os céus e a terra.,-500,Persian,Israel,antigo
1,1,Genesis,1,2,E a terra era sem forma e vazia,-500,Persian,Israel,antigo
2,1,Genesis,1,3,E disse Deus: Haja luz,-500,Persian,Israel,antigo
3,1,Genesis,1,4,E viu Deus que era boa a luz,-500,Persian,Israel,antigo
4,1,Genesis,1,5,E Deus chamou à luz Dia,-500,Persian,Israel,antigo

In [3]:
# DF auxiliar para mapear o codigo dos livros
df_livro = pd.DataFrame(data={'cod': df['cod'].unique(), 'livro': df['livro'].unique()})
df_livro.head()

   cod         livro
0    1       Genesis
1    2         Exodo
2    3      Levitico
3    4       Numeros
4    5  Deuteronomio

In [4]:
df_livro.loc[5:20]

    cod        livro
5     6        Josue
6     7       Juizes
7     8         Rute
8     9     I Samuel
9    10    II Samuel
10   11       I Reis
11   12      II Reis
12   13   I Cronicas
13   14  II Cronicas
14   15       Esdras
15   16      Neemias
16   17        Ester
17   18           Jo
18   19       Salmos
19   20   Proverbios
20   21  Eclesiastes

### Incluindo autores

Fonte: https://pt.wikipedia.org/wiki/Autores_da_B%C3%ADblia

In [5]:
# Nova coluna de autor
# Define todos como nulo
df_livro['autor'] = np.nan

#Antigo testamento
    #Torá (0:5)
df_livro.loc[0:4, 'autor'] = 'Moises'
    # Históricos (5:16)
df_livro.loc[5, 'autor'] = 'Josue'
df_livro.loc[6:9, 'autor'] = 'Samuel'
df_livro.loc[10:11, 'autor'] = 'Jeremias'
df_livro.loc[12:14, 'autor'] = 'Esdras'
df_livro.loc[15, 'autor'] = 'Neemias'
    # Poéticos (17:21)
df_livro.loc[17, 'autor'] = 'Jo'
df_livro.loc[18, 'autor'] = 'Davi'
df_livro.loc[19:21, 'autor'] = 'Salomao'
    # Profetas Maiores (22:26)
df_livro.loc[22, 'autor'] = 'Isaias'
df_livro.loc[23:24, 'autor'] = 'Jeremias'
df_livro.loc[25, 'autor'] = 'Ezequiel'
df_livro.loc[26, 'autor'] = 'Daniel'
    # Profetas Menores (27:38)
df_livro.loc[27, 'autor'] = 'Oseias'
df_livro.loc[28, 'autor'] = 'Joel'
df_livro.loc[29, 'autor'] = 'Amos'
df_livro.loc[30, 'autor'] = 'Obadias'
df_livro.loc[31, 'autor'] = 'Jonas'
df_livro.loc[32, 'autor'] = 'Miqueias'
df_livro.loc[33, 'autor'] = 'Naum'
df_livro.loc[34, 'autor'] = 'Habacuque'
df_livro.loc[35, 'autor'] = 'Sofonias'
df_livro.loc[36, 'autor'] = 'Ageu'
df_livro.loc[37, 'autor'] = 'Zacarias'
df_livro.loc[38, 'autor'] = 'Malaquias'


# Novo testamento
    # Evangelhos (39:42)
df_livro.loc[39, 'autor'] = 'Mateus'
df_livro.loc[40, 'autor'] = 'Marcos'
df_livro.loc[41, 'autor'] = 'Lucas'
df_livro.loc[42, 'autor'] = 'Joao'
    # Igreja primitiva (43)
df_livro.loc[43, 'autor'] = 'Lucas'
    # Cartas Apostólicas (44:64)
df_livro.loc[44:56, 'autor'] = 'Paulo'
df_livro.loc[58, 'autor'] = 'Tiago'
df_livro.loc[59:60, 'autor'] = 'Pedro'
df_livro.loc[61:63, 'autor'] = 'Joao'
df_livro.loc[64, 'autor'] = 'Judas'
    # Apocalipse (65)
df_livro.loc[65, 'autor'] = 'Joao'

### Incluindo tipo dos livros

Fonte: https://www.bibliaon.com/biblia_formada_organizada/

- Antigo
    - Torá (0:5)
    - Históricos (5:16)
    - Poéticos (17:21)
    - Profetas Maiores (22:26)
    - Profetas Menores (27:38)
    
- Novo
    - Evangelhos (39:42)
    - Igreja Primitiva (43)
    - Cartas Apostólicas (44:64)
    - Apocalipse (65)

In [6]:
# Define todos como nulo
df_livro['tipo_livro'] = np.nan

df_livro.loc[0:5, 'tipo_livro'] = 'Torá'
df_livro.loc[5:16, 'tipo_livro'] = 'Históricos'
df_livro.loc[17:21, 'tipo_livro'] = 'Poéticos'
df_livro.loc[22:26, 'tipo_livro'] = 'Profetas Maiores'
df_livro.loc[27:38, 'tipo_livro'] = 'Profetas Menores'
df_livro.loc[39:42, 'tipo_livro'] = 'Evangelho'
df_livro.loc[43, 'tipo_livro'] = 'Igreja Primitiva'
df_livro.loc[44:64, 'tipo_livro'] = 'Cartas Apostólicas'
df_livro.loc[65, 'tipo_livro'] = 'Apocalipse'

In [7]:
df = df.merge(df_livro[['cod', 'autor', 'tipo_livro']], left_on='cod', right_on='cod')
df.head()

,cod,livro,capitulo,versiculo,texto,tempo,periodo,localizacao,testamento,autor,tipo_livro
0,1,Genesis,1,1,No princípio criou Deus os céus e a terra.,-500,Persian,Israel,antigo,Moises,Torá
1,1,Genesis,1,2,E a terra era sem forma e vazia,-500,Persian,Israel,antigo,Moises,Torá
2,1,Genesis,1,3,E disse Deus: Haja luz,-500,Persian,Israel,antigo,Moises,Torá
3,1,Genesis,1,4,E viu Deus que era boa a luz,-500,Persian,Israel,antigo,Moises,Torá
4,1,Genesis,1,5,E Deus chamou à luz Dia,-500,Persian,Israel,antigo,Moises,Torá

In [8]:
# Exportando para CSV
df.to_csv('./biblia_almeida_completa.csv', index = False)

In [9]:
# Validando
df_path = './biblia_almeida_completa.csv'
df_valida = pd.read_csv(df_path)
df_valida.head()

,cod,livro,capitulo,versiculo,texto,tempo,periodo,localizacao,testamento,autor,tipo_livro
0,1,Genesis,1,1,No princípio criou Deus os céus e a terra.,-500,Persian,Israel,antigo,Moises,Torá
1,1,Genesis,1,2,E a terra era sem forma e vazia,-500,Persian,Israel,antigo,Moises,Torá
2,1,Genesis,1,3,E disse Deus: Haja luz,-500,Persian,Israel,antigo,Moises,Torá
3,1,Genesis,1,4,E viu Deus que era boa a luz,-500,Persian,Israel,antigo,Moises,Torá
4,1,Genesis,1,5,E Deus chamou à luz Dia,-500,Persian,Israel,antigo,Moises,Torá

In [10]:
df_valida.shape

(31482, 11)